<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--List of the sensitive environment variables and their values-->
			<email>dylan.westhead@nfocus.co.uk</email>
			<password>thisISaREALLYlongPASS123.</password>
			<BROWSER>chrome</BROWSER>
			<!--Set to "true" takes screenshots after each step. Anything else will not.-->
			<!--WARNING: This generates a lot of images if run extensively without maintenance.-->
			<STEPSCREENSHOT>false</STEPSCREENSHOT>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>